<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8"/>
        <title>Welcome</title>
        <link rel="stylesheet" href="{{ constant('LIBS_URL') }}bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ constant('STATIC_URL') }}/css/compiled/main.css">
        <link rel="stylesheet" type="text/css" href="{{ constant('STATIC_URL') }}/jquery_ui/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="{{ constant('STATIC_URL') }}/libs/bootstrap/dist/css/bootstrap.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript" src="{{ constant('STATIC_URL') }}/js/frontend.min.js"></script>
        <script type="text/javascript" src="{{ constant('STATIC_URL') }}/jquery_ui/jquery-ui.js"></script>
        <script type="text/javascript" src="{{ constant('STATIC_URL') }}/jquery_ui/ui/core.js"></script>
        <script type="text/javascript" src="{{ constant('STATIC_URL') }}/jquery_ui/ui/widget.js"></script>
        <script type="text/javascript" src="{{ constant('STATIC_URL') }}/jquery_ui/ui/selectmenu.js"></script>
        <script type="text/javascript" src="{{ constant('STATIC_URL') }}/libs/bootstrap/dist/js/bootstrap.js"></script>
    </head>
    <body>
        {% block wrapper %}{% endblock %}
    </body>
</html>
