{% extends 'layouts/base.html.twig' %}
{% block wrapper %}
    <div class="header-wrapper">
        <div class="header">
            {% include 'layouts/parts/header.html.twig' %}
        </div>
    </div>

    <div class="index-form-wrapper">
        <div class="index-search-form">
            {% include 'layouts/parts/head-search.html.twig' %}
        </div>
    </div>

    <div class="content-wrapper">
        <div class="content-full">
            {% block content %}{% endblock %}
        </div>
    </div>

    <div class="clear"></div>
    <div class="footer-wrapper">
        {% include 'layouts/parts/footer.html.twig' %}
    </div>
{% endblock %}