{% extends 'layouts/base.html.twig' %}
{% block wrapper %}
    <div class="header-wrapper">
        <div class="header">
            {% include 'layouts/parts/header.html.twig' %}
        </div>
    </div>
    <div class="content-wrapper">
        <div class="headContent">
            {% block headContent %}{% endblock %}
        </div>
        <div class="content-inner">
            <div class="breadcrumb-block">
                {{ wo_render_breadcrumbs() }}
            </div>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
            <div class="menu-right">
                {% block rightmenu %}{% endblock %}
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="footer-wrapper">
        {% include 'layouts/parts/footer.html.twig' %}
    </div>
{% endblock %}

