{% extends ':layouts:standardPage.html.twig' %}
{% block content %}
    <link rel="stylesheet" href="{{ constant('CSS_URL') }}compiled/parts/marker-create.css"/>
    <form class="marker-create" method="post" action="{{ path('site-marker-create') }}">
        <div class="inputs-block">
            <label>
                Назва
                <br>
                <textarea id="markerTitle" name="title"></textarea>
            </label>
            <label>
                Опис
                <br>
                <textarea id="markerDesc" name="description"></textarea>
            </label>

            <div class="category-select">
                {% for category in cats %}
                    <label>
                        {{ category.name }}
                        <input type="checkbox" name="category[]" value="{{ category.id }}">
                        <br>
                    </label>
                {% endfor %}
            </div>

            <button type="submit">
                Додати
            </button>
        </div>
        <div class="map-wrapper">
            <input type="hidden" name="position_lat" id="position_lat"/>
            <input type="hidden" name="position_lng" id="position_lng"/>
            <label>
                Адреса:
                <br>
                <input disabled id="markerAddress" type="text" name="marker_address">
            </label>
            <div id="map"></div>
        </div>
    </form>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript">
        var map;
        var marker;
        var geoCoder;

        $(document).ready(function () {
            initialize();
        });

        function initialize() {
            geoCoder = new google.maps.Geocoder();

            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 50.4150796, lng: 30.563584},
                zoom: 8
            });

            google.maps.event.addListener(map, 'click', function (event) {
                $('#position_lat').val(event.latLng.lat());
                $('#position_lng').val(event.latLng.lng());
                placeMarker(event.latLng);
            });
        }

        function placeMarker(location) {
            if (marker == undefined) {
                marker = new google.maps.Marker({
                    draggable: true,
                    position: location,
                    map: map
                });
            } else {
                marker.setPosition(location);
            }
            geoCoder.geocode({
                latLng: location,
                language: "ru"
            }, function (response) {
                if (response && response.length > 0) {
                    address = response[0].formatted_address;
                } else {
                    address = '---';
                }
                address = address.replace('Unnamed Road, ', '');
                $('#markerAddress').val(address);
            });
        }

    </script>
{% endblock %}