{% extends 'layouts/standardFull.html.twig' %}
{% block headContent %}
    <div class="index-head-content">
        {% set catList = {'horiz':'Турніки','run':'Біг','bike':'Велоспорт','foot':'Футбол','bask':'Баскетбол','volley':'Волейбол'} %}
        <div class="index-cat-list">
            {% for key,value in catList %}
                <div class="cat-item">
                    <div class="cat-name">{{ value }}</div>
                    <img src="{{ constant('STATIC_URL') }}/img/{{ key }}.png" alt="">
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="btn-group btn-group-justified" role="group">
        <div class="btn-group" role="group">
            <a class="btn btn-info" href="{{ url('markerList') }}">Переглянути всі місця</a>
        </div>
        <div class="btn-group" role="group">
            <a class="btn btn-default" href="{{ url('site-marker-create') }}">Додати місце</a>
        </div>
        <div class="btn-group" role="group">
            <a class="btn btn-default disabled" href="#" >Додати новину</a>
        </div>
        <div class="btn-group" role="group">
            <a class="btn btn-default disabled" href="#" >Додати подію</a>
        </div>
    </div>
    <style>
        .btn-group{
            margin: 0 auto;
            margin-bottom: 10px;
            width: 800px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="index-news">
        <div class="news-type-select">
            <ul>
                <li>
                    <a class="active" href="">Події</a>
                </li>
                <li>
                    <a href="">Новини</a>
                </li>
                <li>
                    <a href="">Статті</a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.news-type-select a').click(function () {
                $('.news-type-select a').removeClass('active');
                $(this).addClass('active');
                return false;
            })
        })
    </script>

    {% set eventList = {
    0:{
    'name':'Танец Мандала. По субботам с 31 октября (суббота)',
    'geo':'Киев. ул.Гуляльная 13а',
    'img': 'http://artlife.rv.ua/uploads/Image/NEWsss/statti/15/57457.jpg'
    },
    1:{
    'name':'Бег по утрам с 6:00 до 7:00',
    'geo':'Киев. ул.Малышко 150',
    'img': 'http://geekrunner.org/wp-content/uploads/2013/02/a7e758.jpg'
    },
    2:{
    'name':'Забег на 5км. вечером в 19:30',
    'geo':'Киев, метро дарница (возле Мак-Дональдс)',
    'img': 'http://www.nadietax.com/uploads/posts/2013-05/2013-09/1378970804_Krasochnyiy-zabeg-Natal-y.jpg'
    }
    } %}
    <div class="index-news-block">



        <div class="event-list">
            {% for eventItem in eventList %}
                <div class="event-item">
                    <div class="img-left">
                        <img src="{{ eventItem.img }}" alt="">
                    </div>
                    <div class="event-content">
                        <div class="event-name">
                            <a href="">
                                {{ eventItem.name }}
                            </a>
                        </div>
                        <div class="event-geo">
                            {{ eventItem.geo }}
                        </div>
                        <div class="event-buttons">
                            <span class="btn-white">Показати на мапі</span>
                            <span class="btn-white">Докладніше</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block rightmenu %}
    <div class="bar-block">
        <div class="block-label">Поради</div>
        <div class="block-content">
            <div class="advice-block">
                <div><a href="">Як знайти нове місце для занять</a></div>
                <div><a href="">Як додати нове місце</a></div>
                <div><a href="">Як користуватись сервісом</a></div>
            </div>
        </div>
    </div>
{% endblock %}