{% extends 'layouts/standardPage.html.twig' %}
{% block content %}
    <div class="marker-list">
        {% for marker in markers %}
            <div class="marker-item">
                <div class="marker-left-content">
                    <div class="marker-img">
                        {% if(marker.getImgUrls()|length != 0) %}
                            <img src="{{ marker.getImgUrls()[0] }}"/>
                        {% else %}
                            <img src="http://research.larc.smu.edu.sg/ge2015/assets/img/default_photo.png"/>
                        {% endif %}
                    </div>
                </div>
                <div class="marker-right-content">
                    <div class="marker-title">
                        <a href="{{url('markerView', {'markerID' : marker.getId()}) }}">
                            {{ marker.getTitle() }}
                        </a>
                    </div>
                    <div class="content-item">
                    <span class="content-title">
                        Адреса
                    </span>
                    <span class="content-value">
                        {{ marker.getAddress() }}
                    </span>
                    </div>
                    <div class="content-item">
                    <span class="content-title">
                        Опис
                    </span>
                    <span class="content-value">
                        {{ marker.getShortDescription() }}
                    </span>
                    </div>
                    <div class="content-item" style="margin-top: 5px;">
                   <span class="content-value">
                        <a href="{{url('markerView', {'markerID' : marker.getId()}) }}">
                            Детальніше...
                        </a>
                   </span>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        {% endfor %}
    </div>

    <div class="paginator">
        <ul class="pager">
            {% if (pageNumber == 0) %}
                <li class="previous disabled"><a href="#">&larr; Previous</a></li>
            {% else %}
                <li class="previous"><a href="{{ path('markerList', {'pageNumber' : pageNumber -1}) }}">&larr;
                        Previous</a></li>
            {% endif %}
            {% if (pageNumber == maxPageNumber) %}
                <li class="next disabled"><a href="#">Next &rarr;</a></li>
            {% else %}
                <li class="next"><a href="{{ path('markerList', {'pageNumber' : pageNumber + 1}) }}">Next &rarr;</a>
                </li>
            {% endif %}
        </ul>
    </div>

{% endblock %}