{% extends 'layouts/standardFull.html.twig' %}
{% block headContent %}
    <div class="index-head-content">
        {% set catList = {'horiz':'Турники','run':'Бег','bike':'Велоспорт','foot':'Футбол','bask':'Баскетбол','volley':'Волейбол'} %}
        <div class="index-cat-list">
            {% for key,value in catList %}
                <div class="cat-item">
                    <div class="cat-name">{{ value }}</div>
                    <img src="{{ constant('STATIC_URL') }}/img/{{ key }}.png" alt="">
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="marker-item">
        <div class="marker-title">
            <h2>{{ marker.getTitle() }}</h2>
        </div>
        <div class="marker-left-content">
            <div class="marker-img">
                {% if(marker.getImgUrls()|length != 0) %}
                    <img class="resize" src="{{ marker.getImgUrls()[0] }}"/>
                {% else %}
                    <img class="resize" src="http://research.larc.smu.edu.sg/ge2015/assets/img/default_photo.png"/>
                {% endif %}
            </div>
        </div>
        <div class="marker-right-content">
            <div class="content-item">
                    <span class="content-title">
                        <h3>Адреса</h3>
                    </span>
                    <span class="content-value">
                        м. Київ, {{ marker.getAddress() }}
                    </span>
            </div>
            <div class="content-item">
                    <span class="content-title">
                         <h3>Опис </h3>
                    </span>
                    <span class="content-value">
                        {{ marker.getDescription() }}
                    </span>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <style>
        img.resize {
            width: 540px;
            height: auto;
        }
    </style>

    <div id="map" style="height:500px; margin-top: 10px;"></div>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?language=ru-RU"></script>
    <script type="text/javascript">
        var map;
        var marker;
        var geoCoder;

        $(document).ready(function () {
            initialize();
        });

        function initialize() {
            geoCoder = new google.maps.Geocoder();
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: {{ marker.getPositionLat() }}, lng: {{ marker.getPositionLng() }} },
                zoom: 14
            });
            marker = new google.maps.Marker({
                draggable: false,
                position: {lat: {{ marker.getPositionLat() }}, lng: {{ marker.getPositionLng() }} },
                map: map
            });
        }
    </script>
{% endblock %}
