{% extends 'AdminBundle:layout:layout.html.twig' %}
{% block content %}
    <div class="col-lg-8">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">#{{ marker.id }} {{ marker.title }}</h3>
                <div class="box-tools box-tools pull-right">
                <span href="{{ url('adm-marker-item', {id:marker.id,delete:1}) }}" class="btn">
                    <i class="fa fa-remove" id="deleteMarker"></i>
                </span>
                </div>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" method="post">
                <div class="box-body">
                    <div class="form-group">
                        <label style="margin-right: 10px;">Статус</label>
                        <div class="btn-group">
                            {% for statusId,statusName in marker.statusNames %}
                                <button type="button" data-status="{{ statusId }}" class="markerStatus btn btn-default {{ marker.status(statusId) ? 'active' : '' }}">
                                    {{ statusName }}
                                </button>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="markerTitle">Заголовок</label>
                        <input type="text" class="form-control" name="title" id="markerTitle" placeholder="Заголовок" value="{{ marker.title }}">
                    </div>
                    <div class="form-group">
                        <label>Опис</label>
                        <textarea style="max-width: 100%;" class="form-control" name="description" rows="10" placeholder="Опис">{{ marker.description }}</textarea>
                    </div>
                    <div class="form-group">
                        <label>Категорія</label>
                        <div class="checkbox">
                            {% for category in categoryList %}
                                <label>
                                    <input type="checkbox" name="categories[]" value="{{ category.id }}" {{ marker.hasCategory(category) ? 'checked' : '' }}>
                                    {{ category.name }}
                                </label>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Зберегти</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="box box-success">
            <div class="box-header">
                <div class="box-title with-border">
                    Нове зображення
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <textarea style="max-width: 100%; max-height: 150px;" name="newImageUrl" id="newImageUrl" rows="2" class="form-control"></textarea>
                    </div>
                    <button class="btn btn-success" id="newImageSubmit">Додати</button>
                </div>
            </div>
        </div>
        {% for imageUrl in marker.imgUrls %}
            <div class="box box-success">
                <div class="box-header" style="overflow: hidden;">
                    <div class="box-tools pull-right">
                        <button type="button" class="removeImageUrl btn btn-box-tool" data-url="{{ imageUrl }}" data-widget="remove"><i class="fa fa-remove"></i></button>
                    </div>
                    <div class="box-body">
                        <img class="col-sm-12" src="{{ imageUrl }}" alt="">
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#deleteMarker').click(function () {
                if (confirm('Дійсно видалити маркер #{{ marker.id }}?')) {
                    $.get('', {'delete': 1});
                }
            });
            $(".markerStatus").click(function () {
                if ($(this).hasClass('active')) {
                    return false;
                }
                $('.markerStatus').removeClass('active');
                $(this).addClass('active');
                var newStatus = $(this).attr('data-status');
                if (newStatus) {
                    $.get('', {'newStatus': newStatus})
                }
            });
            $('#newImageSubmit').click(function () {
                var newImageUrl = $('#newImageUrl').val();
                if (newImageUrl) {
                    $.post(
                            '',
                            {'newImageUrl': newImageUrl},
                            function (response) {
                                if (response.result == 'ok') {
                                    window.location.reload();
                                }
                            }
                    );
                }
            });
            $('.removeImageUrl').click(function () {
                var removeImageUrl = $(this).attr('data-url');
                $.post('', {'removeImageUrl': removeImageUrl});
            });
        });
    </script>
{% endblock %}
