{% extends 'AdminBundle:layout:layout.html.twig' %}
{% block content %}
    {% for marker in markerList %}
        {% include 'AdminBundle:markers:list-item.html.twig' with{'marker':marker} %}
    {% endfor %}
    <div class="box">

    </div>
    <ul class="pagination">
        {% if prevPage %}
            <li>
                <a href="{{ url('adm-marker-list', app.request.query.all|merge({'page':prevPage})) }}" aria-label="Previous"> <span aria-hidden="true">« Назад</span> </a>
            </li>
        {% endif %}
        {% if nextPage %}
            <li>
                <a href="{{ url('adm-marker-list', app.request.query.all|merge({'page':nextPage})) }}" aria-label="Previous"> <span aria-hidden="true">Вперед »</span> </a>
            </li>
        {% endif %}
    </ul>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.removeMarker').click(function () {
                var markerId = $(this).attr('data-id');
                if (markerId && confirm('Видалити маркер #' + markerId)) {
                    $.get('', {'delete': markerId});
                } else {
                    return false;
                }
            });
        });
    </script>
{% endblock %}
