<div class="box box-widget">
    <div class="box-header with-border">
        <div class="user-block">
            <span class=""><a href="#">{{ marker.user.email }}</a></span>
            <br>
            <span class="">@todo time</span>
        </div>
        <div class="box-tools pull-right">
            <button type="button" class="removeMarker btn btn-box-tool" data-id="{{ marker.id }}" data-widget="remove"><i class="fa fa-remove"></i></button>
        </div>
    </div>
    <div class="box-body">
        <div class="attachment-block clearfix">
            <img class="attachment-img" src="{{ marker.mainImageUrl }}" alt="Attachment Image">

            <div class="attachment-pushed">
                <h4 class="attachment-heading"><a href="{{ url('adm-marker-item', {id:marker.id}) }}">{{ marker.title }}</a></h4>

                <div class="attachment-text">
                    {{ marker.description }}
                </div>
            </div>
            <div class="attachment-pushed">
                {% for category in marker.categories %}
                    <span class="btn btn-success btn-xs">
                        {{ category.name }}
                    </span>
                {% endfor %}
            </div>
        </div>
        {#<span class="pull-right text-muted">45 likes - 2 comments</span>#}
    </div>
</div>
