.marker-create {
  margin-top: 30px;

  .inputs-block {
    float: left;
    width: 380px;

    label {
      display: block;
      margin-bottom: 10px;

      textarea {
        padding: 10px 15px;
        width: 100%;
        border: 1px solid silver;
        font-weight: normal;
      }

      #markerTitle {
        max-width: 100%;
        height: 45px;
        max-height: 45px;
      }
      #markerDesc {
        max-width: 100%;
        height: 80px;
        max-height: 80px;
      }
    }
  }
  .map-wrapper {
    margin-left: 400px;
    input {
      display: inline-block;
      width: 580px;
    }
    #map {
      border: 1px solid silver;
      width: 580px;
      height: 500px;
    }
  }
}