{% extends 'AdminBundle:layout:layout.html.twig' %}
{% block content %}
    <div class="col-lg-10">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">#{{ category.id }} {{ category.name }}</h3>
                <div class="box-tools box-tools pull-right">
                <span href="{{ url('adm-cats-item', {id:category.id,delete:1}) }}" class="btn">
                    <i class="fa fa-remove" id="deleteCategory"></i>
                </span>
                </div>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" method="post">
                <div class="box-body">
                    <div class="form-group">
                        <label for="name">Назва</label>
                        <input type="text" class="form-control" name="name" id="name" placeholder="Назва" value="{{ category.name }}">
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Зберегти</button>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#deleteCategory').click(function () {
                if (confirm('Дійсно видалити категорію #{{ category.id }}?')) {
                    $.get('', {'delete': 1});
                    window.location = '{{ url('adm-cats-list') }}';
                }
            });
        })
    </script>
{% endblock %}