{% extends 'AdminBundle:layout:layout.html.twig' %}
{% block content %}
    <div class="col-md-10">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Категорії</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Назва</th>
                    </tr>
                    {% for category in catsList %}
                        <tr>
                            <td>
                                <a href="{{ url('adm-cats-item', {'id':category.id}) }}">
                                    {{ category.id }}
                                </a>
                            </td>
                            <td>{{ category.name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Додати категорію</h3>
            </div>
            <div class="box-body">
                <form method="post">
                    <div class="form-group">
                        <label for="name">Назва</label>
                        <input type="text" class="form-control" name="newCategory" id="name" placeholder="Назва">
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Додати</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.box -->
    </div>
{% endblock %}