{% extends 'layouts/common.html.twig' %}
{% block content %}
    <div class="index-news">
        <div class="news-type-select">
            <ul>
                <li>
                    <a class="active" href="">Події</a>
                </li>
                <li>
                    <a href="">Новини</a>
                </li>
                <li>
                    <a href="">Статті</a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.news-type-select a').click(function () {
                $('.news-type-select a').removeClass('active');
                $(this).addClass('active');
                return false;
            })
        })
    </script>

    {% set eventList = {
    0:{
    'name':'Танец Мандала. По субботам с 31 октября (суббота)',
    'geo':'Киев. ул.Гуляльная 13а',
    'img': 'http://artlife.rv.ua/uploads/Image/NEWsss/statti/15/57457.jpg'
    },
    1:{
    'name':'Бег по утрам с 6:00 до 7:00',
    'geo':'Киев. ул.Малышко 150',
    'img': 'http://geekrunner.org/wp-content/uploads/2013/02/a7e758.jpg'
    },
    2:{
    'name':'Забег на 5км. вечером в 19:30',
    'geo':'Киев, метро дарница (возле Мак-Дональдс)',
    'img': 'http://www.nadietax.com/uploads/posts/2013-05/2013-09/1378970804_Krasochnyiy-zabeg-Natal-y.jpg'
    }
    } %}
    <div class="index-news-block">
        <div class="event-list">
            {% for eventItem in eventList %}
                <div class="event-item">
                    <div class="img-left">
                        <img src="{{ eventItem.img }}" alt="">
                    </div>
                    <div class="event-content">
                        <div class="event-name">
                            <a href="">
                                {{ eventItem.name }}
                            </a>
                        </div>
                        <div class="event-geo">
                            {{ eventItem.geo }}
                        </div>
                        <div class="event-buttons">
                            <span class="btn-white">Показати на карті</span>
                            <span class="btn-white">Докладніше</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}