{% extends ':layouts:standardPage.html.twig' %}
{% block content %}

    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}

    <form class="register-form" action="{{ path('site-user-login') }}" method="post">
        <label>
            <span>Ваш email:</span>
            <input type='email' name="_username" placeholder="Email"
                   value="{{ app.request.request.get('email') }}"/>
        </label>
        <label>
            <span>Ваш пароль:</span>
            <input type='password' name="_password" placeholder="Пароль"
                   value="{{ app.request.request.get('password') }}"/>
        </label>
        <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit">Залогінитись</button>
    </form>
{% endblock %}