{% extends 'layouts/standardPage.html.twig' %}
{% block content %}
    <div class="alert alert-success" role="alert">
        <strong>
           Вітаємо! Ви успішно зареєстровані на нашому порталі!
        </strong>
        <br>
        <br>
        Давайте популяризувати спорт разом!
        <ul>
            <li>
                - Шукаєте де б пограти в футбол, покращити свою фізичну форму чи пограти в теніс? Ви на вірному сайті :)
            </li>
            <li>
                - Знайшли новий спортивний майданчик, футбольше поле чи ще щось? Негайно додайте його до нас на карту, можливо хтось шукає саме це!
            </li>
        </ul>
    </div>
{% endblock %}