{% extends 'layouts/standardPage.html.twig' %}
{% block content %}
    {% if errors %}
        <div class="alert alert-danger" role="alert">
            {% for errorItem in errors %}
                {{ errorItem }}
                <br>
            {% endfor %}
        </div>
    {% endif %}
    <form class="register-form" action="{{ path('register') }}" method="post">
        <label>
            <span>Ваш email:</span>
            <input type='email' name="email" placeholder="Email"
                   value="{{ app.request.request.get('email') }}"/>
        </label>
        <label>
            <span>Придумайте пароль:</span>
            <input type='password' name="password" placeholder="Пароль"
                   value="{{ app.request.request.get('password') }}"/>
        </label>
        <button type="submit">
            Зареєструватись
        </button>
    </form>
{% endblock %}