{% extends 'AdminBundle:layout:layout.html.twig' %}
{% block content %}
    <div class="col-lg-10">
        {% if errorList | length > 0 %}
            <div class="alert alert-danger alert-dismissible">
                {% for error in errorList %}
                    {{ error }} <br>
                {% endfor %}
            </div>
        {% endif %}

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">#{{ user.id }} {{ user.username }}</h3>
                <div class="box-tools box-tools pull-right">
                <span href="{{ url('adm-user-item', {id:user.id,delete:1}) }}" class="btn">
                    <i class="fa fa-remove" id="deleteUser"></i>
                </span>
                </div>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" method="post">
                <div class="box-body">
                    <div class="form-group">
                        <label for="userName">Логін</label>
                        <input type="text" class="form-control" name="username" id="userName" placeholder="Логін" value="{{ user.username }}">
                    </div>
                    <div class="form-group">
                        <label for="userEmail">Email</label>
                        <input type="text" class="form-control" name="email" id="userEmail" placeholder="Email" value="{{ user.email }}">
                    </div>
                    <div class="form-group">
                        <label for="userPass">Пароль</label>
                        <input type="text" class="form-control" name="password" id="userPass" placeholder="Пароль" value="{{ user.password }}">
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Зберегти</button>
                </div>
            </form>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#deleteUser').click(function () {
                if (confirm('Дійсно видалити юзера #{{ user.id }}?')) {
                    $.get('', {'delete': 1});
                    window.location = '{{ url('adm-user-list') }}';
                }
            });
        })
    </script>
{% endblock %}