{% extends 'AdminBundle:layout:layout.html.twig' %}
{% block content %}
    <div class="col-md-10">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Користувачі</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th style="width: 40px">Roles</th>
                    </tr>
                    {% for user in userList %}
                        <tr>
                            <td>
                                <a href="{{ url('adm-user-item', {'id':user.id}) }}">
                                    {{ user.id }}
                                </a>
                            </td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.roles | join(',') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <ul class="pagination pagination-sm no-margin pull-right">
                    {% if paginator.currentPage > 1 and paginator.currentPage <= paginator.lastPage %}
                        <li>
                            <a href="{{ url('adm-user-list', app.request.query.all|merge({'page':paginator.currentPage - 1})) }}">
                                « Назад
                            </a>
                        </li>
                    {% endif %}
                    {% if paginator.currentPage < paginator.lastPage %}
                        <li>
                            <a href="{{ url('adm-user-list', app.request.query.all|merge({'page':paginator.currentPage + 1})) }}">
                                Вперед »
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <!-- /.box -->
    </div>
{% endblock %}