.register-form {
  width: 340px;
  border: 1px solid #ededed;
  background: #f2f2f2;
  padding: 25px 30px;
  margin-bottom: 20px;

  label {
    span {
      display: inline-block;
      margin-left: 2px;
      margin-bottom: 3px;
      color: #666666;
      font-weight: bold;
    }
    input {
      display: block;
      margin-bottom: 10px;
      width: 280px;
      height: 30px;
      font-weight: normal;
      border: 1px solid #D9D9D9;
      border-radius: 0;
    }
  }

}