.btn-base {
  display: inline-block;
  color: white;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .3);
  line-height: 25px;
  padding: 0 10px;
  width:auto;
  height: auto;
  border-radius: 3px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}
.btn-base:hover {
  cursor: pointer;
}
.btn-white {
  @extend .btn-base;
  border: 1px solid silver;
  background: white;
  text-shadow: 0 -1px 0 silver;
  color: #205ec9;
}
.btn-blue {
  @extend .btn-base;
  border: 1px solid #006fd0;
  background: #1d7cf7;
  text-shadow: 0 -1px 0 #205ec9;
}
.btn-green {
  @extend .btn-base;
}