.index-form-wrapper {
  height: 100px;
  padding: 20px 0;
}
.index-search-form {
  width: 980px;
  margin: 0 auto;
  
  .ui-selectmenu-button {
    background: white;
    font-size: 1em;
    height: 32px;
    .ui-selectmenu-text {
      padding: 0.3em 2.1em 0.4em 1em;
    }
    
    .ui-selectmenu-menu{
      font-size: 15px;
    }
  }
  
  .search-submit{
    margin-top: 16px;
    line-height: 30px;
  }
}
.input-item {
  display: block;
  float:left;
  margin-right: 15px;
  .input-label {
    font-size: 0.9em;
    padding: 3px 5px;
    color: #999999;
  }

  .input-value {
  }
}

