.clear {
  clear: both;
  float: none;
}
html, body {
  margin: 0;
  padding: 0;
}
html {
  background: white;
  font-family: Arial, sans-serif;
  font-size: 15px;
}
div, a, input, textarea {
  box-sizing: border-box;
}
div {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #4471a3;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.breadcrumb {
  margin-bottom: 5px !important;
  padding-left: 0 !important;
}
.ui-menu-item {
  font-size: 1em;
}
.ui-state-focus {
  background: #e6f7df;
}
.header-wrapper {
  border-bottom: 1px solid #e0edca;
  background: #edffe6;
  min-height: 50px;
  color: #333333;
  position: relative;
  -webkit-text-size-adjust: none;
  z-index: 20;

  .header {
    position: relative;
    width: 980px;
    margin: 0 auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    .auth-block {
      font-size: 14px;
      height: 50px;
      padding: 9px 0;
      position: absolute;
      top: 0;
      right: 50px;

      .auth-button {
        display: inline-block;
        border: 1px solid #c3dcbf;
        color: #808080;
        border-radius: 3px;
        padding: 5px 15px;
        background: white;
        &:hover {
          background: #ededff;
          cursor: pointer;
          text-decoration: none;
        }
      }
      .auth-content {
        display: none;
        position: absolute;
        right: 10px;
        top: 45px;
        width: 300px;
        border: 1px solid #cccccc;
        border-radius: 3px;
        padding: 35px 35px 25px 35px;
        background: white;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
        .inputs-block {
          #label {
            display: inline-block;
            margin-bottom: 2px;
            padding-left: 5px;
            font-size: 13px;
            width: 90px;
            color: #b3b3b3;
          }
          #username, #password {
            width: 100%;
            height: 25px;
            margin-bottom: 5px;
          }
        }
        #login-submit {
          display: inline-block;
          margin-top: 3px;
          width: 90px;
          height: 30px;
          background: #ffffff; /* Old browsers */
          background: -moz-linear-gradient(top, #ffffff 0%, #eaeaea 100%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eaeaea)); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top, #ffffff 0%, #eaeaea 100%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top, #ffffff 0%, #eaeaea 100%); /* Opera 11.10+ */
          background: -ms-linear-gradient(top, #ffffff 0%, #eaeaea 100%); /* IE10+ */
          background: linear-gradient(to bottom, #ffffff 0%, #eaeaea 100%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=0); /* IE6-9 */
        }
        #user-links {
          position: absolute;
          right: 55px;
          bottom: 28px;

          a {
            display: inline-block;
            color: #0085c7;
            font-size: 13px;
            border-bottom: 1px dotted silver;
            margin-right: 3px;

            &:hover {
              border-bottom: 1px dotted #0085c7;
              text-decoration: none;
            }
          }
        }
      }
    }

  }

}
.content-wrapper {
  width: 100%;

  .headContent {
    width: 100%;
    background: #f2f2f2;
    border-bottom: 1px solid #e6e6e6;
  }

  .content-inner {
    width: 980px;
    margin: 0 auto;
    padding: 10px 0;

    .content {
      float: left;
      width: 700px;
    }

    .content-page {
      width: 100%;
    }

    .menu-right {
      width: 260px;
      margin-left: 715px;

      .bar-block {
        .block-label {
          font-size: 15px;
          padding: 6px 0 2px 2px;
          border-bottom: 1px solid #e6e6e6;
          color: #808080;
        }
        .block-content {
          padding: 5px;
        }
      }
    }
  }

}
.footer-wrapper {
  margin-top: 10px;
  border-top: 1px solid #e6e6e6;

  .footer {
    width: 980px;
    margin: 0 auto;

    .copyright {
      float: left;
      color: #9999a6;
      padding: 10px;
    }

  }

}
.footer-menu {
  display: block;
  float: right;
  margin: 10px 100px 10px 0;
  li {
    margin-bottom: 5px;
    margin-left: 15px;
    float: left;
    a {
      color: #626262;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.sblock {
  background: white;
  border: 1px solid lavender;
  border-radius: 5px;
  padding: 10px;
}
.index-search {
  padding-top: 20px;
}
.content-full {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}
.index-cat-list {
  width: 980px;
  margin: 0 auto;
  padding: 25px 0;
  overflow: hidden;
  .cat-item {
    background: white;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
    width: 140px;
    height: 155px;
    text-align: center;
    float: left;
    margin: 0 8px;

    &:hover {
      cursor: pointer;
      background: #ededff;
      border-color: #e1e1f2;
    }

    .cat-name {
      height: 25px;
      text-align: center;
      color: #8c8c8c;
      padding: 3px 0;
    }

    img {
      max-width: 140px;
      max-height: 130px;
    }
  }
}
.news-type-select {
  ul {
    border-bottom: 1px solid #e6e6e6;
    height: 30px;
    li {
      float: left;
      margin: 7px 10px;
      position: relative;

      .active {
        cursor: default;
        color: #808080;
      }
      .active:after {
        content: '';
        position: absolute; /* Абсолютное позиционирование */
        left: 50%; bottom: -8px; /* Положение треугольника */
        border: 7px solid transparent;
        margin-left: -7px;
        border-bottom: 7px solid white;
      }

      .active:before {
        content: '';
        position: absolute; /* Абсолютное позиционирование */
        left: 50%; bottom: -7px; /* Положение треугольника */
        border: 7px solid transparent;
        margin-left: -7px;
        border-bottom: 7px solid #d9d9d9;
      }

    }
  }
}
.user-photo {
  img {
    max-width: 75px;
    max-height: 75px;
    border-radius: 35px;
  }
}
.sselect {
  display: inline-block;
  width: 355px;
  margin-right: 10px;
  margin-bottom: 10px;
  height: 37px;
  overflow: visible;
  position: relative;
  border: 1px solid #ebebeb;
  border-radius: 3px;

  .item {
    background: #f2f2f2;
    padding: 8px 15px;
    height: 35px;
    font-size: 15px;
  }
}
.item-list {
  width: 100%;
  display: none;
  position: absolute;
  top: 35px;
  border: 1px solid lavender;
  z-index: 1;

  .item:hover {
    background: white;
    cursor: pointer;
  }
}
.index-news-block {
  padding: 10px 5px;
  .event-list {
    .event-item {
      overflow: hidden;
      margin-bottom: 15px;
      padding: 10px 5px;
      border-bottom: 1px dashed #d4e0bf;

      .img-left {
        text-align: center;
        padding: 3px;
        border: 1px solid #ededed;
        border-radius: 4px;
        width: 96px;
        height: 96px;
        float: left;
        img {
          max-width: 90px;
          max-height: 90px;
        }
      }

      .event-content {
        margin-left: 110px;
        padding: 5px 0;
        .event-name {
        }
        .event-geo {
          margin: 2px 0;
          color: #bfbfbf;
        }
        .event-buttons {
          margin-top: 8px;
          //text-align: right;
          span {
            display: inline-block;
            //padding:3px 5px;
          }
        }
      }

    }
  }
}