.marker-list {
  .marker-item {
    margin: 10px 0;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 1px dashed white;
    border-bottom: 1px dashed #cfe0ca;

    &:hover {
      background: #ecf4ff;
      border: 1px dashed #d8d6ed;
    }

    .marker-left-content {
      float: left;

      .marker-img {
        border: 1px solid #e8e6ff;
        padding: 5px;
        width: 150px;
        height: 150px;
        line-height: 140px;
        background: white;
        img {
          display: inline;
          vertical-align: middle;
          max-width: 140px;
          max-height: 140px;
        }
      }
    }

    .marker-right-content {
      padding: 10px;
      position: relative;
      overflow: hidden;

      .marker-title {
        margin-bottom: 10px;
        a {
          font-size: 16px;
        }
        a:hover {
          text-decoration: underline;
        }
      }

      .content-item {
        font-family: Arial, Helvetica, Garuda, sans-serif;
        .content-title {
          display: inline-block;
          margin-right: 5px;
          font-size: 12px;
          color: silver;
        }
        .content-value {
          font-size: 13px;
        }
      }
    }
  }
}