{% if wo_breadcrumbs()|length %}
  {%- spaceless -%}
    <ol id="{{ listId }}" class="{{ listClass }}" itemscope itemtype="http://schema.org/BreadcrumbList">
      <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <a class="home-breadcrumb" href="{{ path('site-home') }}">
          Головна
        </a>
      </li>
      {% for b in breadcrumbs %}
        <li{% if itemClass is defined and itemClass|length %} class="{{ itemClass }}"{% endif %} itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          {% if b.url and not loop.last %}
          <a href="{{ b.url }}" itemprop="item"{% if linkRel is defined and linkRel|length %} rel="{{ linkRel }}"{% endif %}>
            {% endif %}
            <span itemprop="name">{{- b.text | trans(b.translationParameters, translation_domain, locale) -}}</span>
            {% if b.url and not loop.last %}
          </a>
          {% endif %}
          <meta itemprop="position" content="{{ loop.index }}" />

          {% if separator is not null and not loop.last %}
            <span class='{{ separatorClass }}'>{{ separator }}</span>
          {% endif %}
        </li>
      {% endfor %}
    </ol>
  {%- endspaceless -%}
{% endif %}
