<div class="footer">

    <ul class="footer-menu">
        <li><a href="">Про сайт</a></li>
        <li><a href="">Зворотній зв'язок</a></li>
        <li><a href="">Новини</a></li>
        <li><a href="">Події</a></li>
        <li><a href="">Рейтинг</a></li>
    </ul>

    <div class="copyright">
        &copy; jesikaUA SportMap
    </div>

</div>