<div class="auth-block">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a class="auth-button" href="">
            <span style="color:silver;">
                Мій Профіль
            </span>
            <span style="color:#03598C">
                {{ app.user.username }}
            </span>
        </a>
        <a class="auth-button" href="{{ path('_security_logout') }}">
            Вийти
        </a>
    {% else %}
        <div class="auth-button" id="auth-login">
            Вхід
        </div>
        <a class="auth-button" href="{{ path('register') }}">
            Реєстрація
        </a>
        <form class="auth-content" method="post" action="{{ path('site-user-login') }}">
            <div class="inputs-block">
                <div id="label">Логін:</div>
                <input type="text" name="_username" id="username">
                <div id="label">Пароль:</div>
                <input type="password" name="_password" id="password">
            </div>
            <input type="submit" id="login-submit" value="Ввійти">
            <div id="user-links">
                <a href="">Згадати пароль</a>
            </div>
        </form>
    {% endif %}
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(document).click(function (e) {
            var target = $(e.target);
            if (target.is('#auth-login') || target.parents('.auth-content').length) return true;

            $('.auth-content').fadeOut(300);
        });

        $('#auth-login').click(function () {
            $('.auth-content').fadeToggle(300);
        });
    })
</script>