{{ form_start(form, {'method': 'GET', 'action' : path('markerList'), 'attr': {'class': 'index-search-form'} }) }}
        {{ form_label(form.sportCategory,'Категория', {'label_attr': {'class': 'input-label'} }) }}
        {{ form_widget(form.sportCategory, {'attr': {'class': 'index-select'} }) }}
        {{ form_label(form.city, 'Місто', {'label_attr': {'class': 'input-label'} }) }}
        {{ form_widget(form.city, {'attr': {'class': 'index-select'} }) }}
        <input type="submit" value="Пошук" class="search-submit btn-blue" />
{{ form_end(form) }}
