.index-form-wrapper{width:100%;background:#f2f2f2;border-bottom:1px solid #e6e6e6;height:100px;padding:20px 0}.index-search-form{width:980px;margin:0 auto}.index-search-form .ui-selectmenu-button{background:white;font-size:1em;height:32px}.index-search-form .ui-selectmenu-button .ui-selectmenu-text{padding:0.3em 2.1em 0.4em 1em}.index-search-form .ui-selectmenu-button .ui-selectmenu-menu{font-size:15px}.index-search-form .search-submit{margin-top:16px;line-height:30px}.input-item{display:block;float:left;margin-right:15px}.input-item .input-label{font-size:0.9em;padding:3px 5px;color:#999999}
